<h1>New heart</h1>

<form id="new-heart" name="heart">
  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Heart" />
  </div>

</form>

<a href="#/index">Back</a>